{% load i18n faceted_search_tags dsfr_tags %}

{% url 'cms_search' as search_url %}
{% translate "Filter by theme" as theme_title %}
{% translate "Filter by collection" as collection_title %}
{% translate "Filter by category" as category_title %}
{% translate "Filter by tag" as tag_title %}
{% translate "Filter by author" as author_title %}
{% translate "Filter by organization" as source_title %}

{% if theme_tree and filter_by_theme %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/taxonomy_tree.html" nodes=theme_tree filter_name="theme" current_filters=current_themes as theme_content %}
    {% dsfr_accordion id="filter-theme" title=theme_title content=theme_content %}
    {% if current_themes %}
      <div class="fr-filter-group__selected">
        {% for theme in current_themes %}
          {% toggle_url_filter theme=theme as theme_query %}
          {% facet_label theme.name theme.result_count as theme_label %}
          {% dsfr_tag label=theme_label is_selectable=True is_selected=True link=search_url|add:theme_query %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}

{% if collection_tree and filter_by_collection %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/taxonomy_tree.html" nodes=collection_tree filter_name="collection" current_filters=current_collections as collection_content %}
    {% dsfr_accordion id="filter-collection" title=collection_title content=collection_content %}
    {% if current_collections %}
      <div class="fr-filter-group__selected">
        {% for collection in current_collections %}
          {% toggle_url_filter collection=collection as collection_query %}
          {% facet_label collection.name collection.result_count as collection_label %}
          {% dsfr_tag label=collection_label is_selectable=True is_selected=True link=search_url|add:collection_query %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}

{% if categories and filter_by_category %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/taxonomy_list.html" filter_name="category" items=categories current_filters=current_categories as category_content %}
    {% dsfr_accordion id="filter-category" title=category_title content=category_content %}
    {% if current_categories %}
      <div class="fr-filter-group__selected">
        {% for category in current_categories %}
          {% toggle_url_filter category=category as category_query %}
          {% facet_label category.name category.result_count as category_label %}
          {% dsfr_tag label=category_label is_selectable=True is_selected=True link=search_url|add:category_query %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}

{% if tags and filter_by_tag %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/taxonomy_list.html" filter_name="tag" items=tags current_filters=current_tags as tag_content %}
    {% dsfr_accordion id="filter-tag" title=tag_title content=tag_content %}
    {% if current_tags %}
      <div class="fr-filter-group__selected">
        {% for tag in current_tags %}
          {% toggle_url_filter tag=tag as tag_query %}
          {% facet_label tag.name tag.result_count as tag_label %}
          {% dsfr_tag label=tag_label is_selectable=True is_selected=True link=search_url|add:tag_query %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}

{% if authors and filter_by_author %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/taxonomy_list.html" filter_name="author" items=authors current_filters=current_authors as author_content %}
    {% dsfr_accordion id="filter-author" title=author_title content=author_content %}
    {% if current_authors %}
      <div class="fr-filter-group__selected">
        {% for author in current_authors %}
          {% toggle_url_filter author=author as author_query %}
          {% facet_label author.name author.result_count as author_label %}
          {% dsfr_tag label=author_label is_selectable=True is_selected=True link=search_url|add:author_query %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}

{% if sources and filter_by_source %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/taxonomy_list.html" filter_name="source" items=sources current_filters=current_sources as source_content %}
    {% dsfr_accordion id="filter-source" title=source_title content=source_content %}
    {% if current_sources %}
      <div class="fr-filter-group__selected">
        {% for source in current_sources %}
          {% toggle_url_filter source=source as source_query %}
          {% facet_label source.name source.result_count as source_label %}
          {% dsfr_tag label=source_label is_selectable=True is_selected=True link=search_url|add:source_query %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}
