{% load i18n faceted_search_tags dsfr_tags %}
{% url 'cms_search' as search_url %}
<ul class="fr-tags-group">
  {% for item in items %}
    <li>
      {% if filter_name == "category" %}
        {% toggle_url_filter category=item as item_query %}
        {% if item in current_filters %}
          {% dsfr_tag label=item.name is_selectable=True is_selected=True link=search_url|add:item_query %}
        {% else %}
          {% dsfr_tag label=item.name is_selectable=True is_selected=False link=search_url|add:item_query %}
        {% endif %}
      {% elif filter_name == "tag" %}
        {% toggle_url_filter tag=item as item_query %}
        {% if item in current_filters %}
          {% dsfr_tag label=item is_selectable=True is_selected=True link=search_url|add:item_query %}
        {% else %}
          {% dsfr_tag label=item is_selectable=True is_selected=False link=search_url|add:item_query %}
        {% endif %}
      {% elif filter_name == "author" %}
        {% toggle_url_filter author=item as item_query %}
        {% if item in current_filters %}
          {% dsfr_tag label=item.name is_selectable=True is_selected=True link=search_url|add:item_query %}
        {% else %}
          {% dsfr_tag label=item.name is_selectable=True is_selected=False link=search_url|add:item_query %}
        {% endif %}
      {% elif filter_name == "source" %}
        {% toggle_url_filter source=item as item_query %}
        {% if item in current_filters %}
          {% dsfr_tag label=item.name is_selectable=True is_selected=True link=search_url|add:item_query %}
        {% else %}
          {% dsfr_tag label=item.name is_selectable=True is_selected=False link=search_url|add:item_query %}
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
